.container{
    border:1px solid black;
    width: 150px;
    height: 150px;
    background-color: royalblue;
    transition: all 1s ease;
}
.container:hover{
    width:200px;
    height:200px;
    background-color: yellowgreen;
    border-radius: 50%;
}